.add-item-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-item-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.add-form {
  padding: 20px;

  border-radius: 5px;
}

.form-label {
  display: block;
  margin-bottom: 10px;
}

.form-input,
.form-textarea,
.form-select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 15px;
}

.form-textarea {
  resize: none;
}

.submit-button {
  background-color: #002f34;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
}

.spin {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .add-item-container {
    max-width: 90%;
    /* margin: 0 auto; */
  }
}

@media screen and (min-width: 769px) {
  .add-item-container {
    max-width: 800px;
  }
}
