.back-to-top-button {
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: black;
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid black;
  cursor: pointer;
  z-index: 1;
}

.back-to-top-button.visible {
  display: block;
  opacity: 1;
}

.back-to-top-button:hover {
  border: 3px solid black;
}
@media screen and (max-width: 843px) {
  .back-to-top-button {
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: black;
    padding: 5px 10px;
    border-radius: 50px;
    border: 1px solid black;
    cursor: pointer;
    z-index: 1;
  }
  @media screen and (max-width: 548px) {
    .back-to-top-button.back-to-top-button.visible {
      display: none;
    }
  }
}
